@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9e86ff;
  --primary-focus: #a991f7;
  --primary-content: white;
  --secondary: #b535f6;
  --secondary-focus: #c800ff;
  --secondary-content: white;
  --accent: #7e22ce;
  --accent-focus: #7b2abf;
  --accent-content: #ff00e5;
  --neutral: #480cb0;
  --base-100: #030326;
  --base-300: #0e0538;
}

a {
  transition: all ease 0.5s;
}
a:hover {
  color: var(--primary-content);
}

html {
  background: var(--base-100);
}

body {
  transition: background-color 0.618s linear;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  overflow-x: hidden !important;
  background: transparent;
}
