@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4d0a5c;
  --primary-focus: #5c0c6e;
  --primary-content: #fafaf0;
  --secondary: #ff7c0a;
  --secondary-focus: #ff871f;
  --secondary-content: #f5f5e0;
  --accent: #a1d6f7;
  --accent-focus: #c7e6fa;
  --accent-content: #0d5f96;
  --neutral: #1f0524;
  --base-content: #fafaf0;
  --base-100: #060107;
  --base-200: #1f0524;
  --base-300: #2e0736;
}

a {
  transition: all ease 0.5s;
}
a:hover {
  color: var(--accent);
}

html {
  background: var(--base-100);
}

body {
  transition: background-color 0.618s linear;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  overflow-x: hidden !important;
  background: transparent;
  color: var(--base-content);
}
